# Directorios
node_modules/
/dist/
/.vite/
/.vscode/

# Archivos de configuración
.env.local
.env.development.local
.env.production.local

# Archivos generados en tiempo de compilación
/dist/
/.vite/

# IDE / Editor
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Dependencias
/node_modules/
/*.pnp
.pnp.js

# Archivos de compilación
/build/
/coverage/

# Archivos de pruebas
/.nyc_output/
/coverage/
/tests/

# Misceláneos
.DS_Store
.env.local
.env.development.local
.env.production.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
